*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.hide{
    opacity: 0 !important;
}

.pointer{
    position: absolute;
    background-color: lightgray;
    opacity: 0.5;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: opacity 500ms ease;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    box-sizing: content-box;
}

@keyframes wave{
    0% {
        transform: translate(-50%, -50%) scale(.95);
        box-shadow: 0 0 0 0 transparent;
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 20px rgba(0,0,255, .5);
    }
    100% {
        transform: translate(-50%, -50%) scale(.95);
        box-shadow: 0 0 0 30px rgb(255,0,0, .5);
    }
}